.fake-browser-ui {
    margin-bottom: 2em;
    padding: 20px 0 0;
    border-radius: 3px;
    border-bottom: 2px solid #ccc;
    background: #ddd;
    display: inline-block;
    position: relative;
    line-height: 0;
    width: 100%;
}

.fake-browser-ui .frame {
    display: block;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 1px;
}

.fake-browser-ui span {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background-color: #eee;
    border: 1px solid #dadada;
    float: left;
    margin: 0 0 0 4px;
}

.fake-browser-ui .body {
    font-size: 80%;
    line-height: 1;
    background: #fff;
    color: #000;
    padding: 1em;
}
.fake-browser-ui h2{
    font-size: 1.5em;
    margin: 10px 0;
    font-family: inherit;
    line-height: normal;
    font-weight: normal;
    color: black;
}
.fake-browser-ui h2:before{
    content: none;
    display: none;
}
.fake-browser-ui ul li{
    list-style: disc;
    color: black;
    text-indent: 0;
}
.fake-browser-ui ul{
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.fake-browser-ui ul li:before{
    content: none;
    display: none;
}
.fake-browser-ui .font-size h2{
    font-size: 40px;
}
.fake-browser-ui .font-size p strong{
    font-size: 120%;
}
.fake-browser-ui .font-weight h2{
    font-weight: 300;
}
.fake-browser-ui .font-weight p{
    font-weight: bold;
}
.fake-browser-ui .font-style p{
    font-family: serif;
}
.fake-browser-ui .font-style p:first-of-type{
    font-style: italic;
}
.fake-browser-ui .font-style p:nth-of-type(2){
    font-style: oblique;
}
.fake-browser-ui .font-color h2 {
    color: red;
}
.fake-browser-ui .font-color p {
    color: green;
}
.fake-browser-ui .inheritance h2 {
    color: red;
}
.fake-browser-ui .inheritance p {
    color: green;
    font-style: italic;
}
.fake-browser-ui .successors div strong{
    color: blue;
}
.fake-browser-ui .children div > p{
    color: green;
}
